<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h5>Reset Order</h5>
        </div>
        <div class="card-body reset-table p-t-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-uppercase">

                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Status</th>
                            <th>Purchased on</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-success btn-round">Pending</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-warning btn-round">Failed</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-success btn-round">Pending</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-warning btn-round">Failed</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-success btn-round">Pending</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-warning btn-round">Failed</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                        <tr>

                            <td>Leisure Suit Casual</td>
                            <td>3BSD59</td>
                            <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td><button type="button"
                                    class="btn btn-success btn-round btn-outline-success">View</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>