<app-card [title]=formTitle>

    <form [formGroup]="newPermissionForm">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Enter formControlName" formControlName="name"
                    (change)="validCode($event)">
                <div class="col-form-label" style="color:red" *ngIf="codeErrorInd">Entered name is alredy created</div>
            </div>

            <label class="col-sm-2 col-form-label">Active</label>
            <div class="col-sm-4">
                <!-- <input type="checkbox" class="form-control"  formControlName="active"> -->
                <label class="switch">
                    <input type="checkbox" formControlName="active">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Module</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Enter Module" formControlName="module">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="3" cols="4" class="form-control" formControlName="description"
                    placeholder="Enter Description"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Add</label>
            <div class="col-sm-4">
                <label class="switch">
                    <input type="checkbox" formControlName="add">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Edit</label>
            <div class="col-sm-4">
                <label class="switch">
                    <input type="checkbox" formControlName="edit">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">View</label>
            <div class="col-sm-4">
                <label class="switch">
                    <input type="checkbox" formControlName="view">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Delete</label>
            <div class="col-sm-4">
                <label class="switch">
                    <input type="checkbox" formControlName="delete">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>




        <div class="form-group row pull-right">
            <div class="text-right">
                <button *ngIf="!editInd" class="btn btn-info btn-round btn-block" (click)="onPressAddPermission()">Add
                    New
                    Permission</button>
                <button *ngIf="editInd" class="btn btn-info btn-round btn-block"
                    (click)="onPressUpdatePermission()">Update
                    Permission Info</button>
            </div>
        </div>
    </form>
</app-card>
<ng2-toasty [position]="position"></ng2-toasty>